<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848360576799-mn1n0fchogctrv1hub38eaqojuovsum2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848360576799-mn1n0fchogctrv1hub38eaqojuovsum2</string>
	<key>API_KEY</key>
	<string>AIzaSyBg-dvSJVN0HExFb6YYtX9ijB31KzOA-5w</string>
	<key>GCM_SENDER_ID</key>
	<string>848360576799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>metehangelgi.Recipes</string>
	<key>PROJECT_ID</key>
	<string>recipes-new-372620</string>
	<key>STORAGE_BUCKET</key>
	<string>recipes-new-372620.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848360576799:ios:11a4d88875d8d1c018022a</string>
</dict>
</plist>